* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.App {
    width: 60vw;
}

.post_list {
    .post_list_header {
        text-align: center;
    }
}

.post {
    display: flex;
    padding: 15px;
    border: 2px solid teal;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;

    .post__content {
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        width: 100%;

        .post__content__title {
            text-align: left;
        }       
    }

    & .post__btns {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100%;
        align-items: center;
        gap: 10px;
    }

    &-enter {
        transform: translateX(-350px);
    }

    &-enter-active {
        transform: translateX(0px);
        transition: all 500ms ease-in;
    }

    &-exit {
        opacity: 1;
    }

    &-exit-active {
        transform: translateX(-350px);
        transition: all 500ms ease-in;
    }
}

.filter {
    margin: 10px 0;
}

.postform {
    margin: 10px 0;
}

.pagination {
    display: flex;
    margin: 15px 0;
    justify-content: center;
    gap: 5px;

    & > *:disabled {
        background-color: orange;
        color: blueviolet;
    }
}

.navbar {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 15px;
    background: lightgray;
    margin-bottom: 15px;

    &__links {
        display: flex;
        margin-left: auto;
        gap: 25px;
    }
}